@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    /* or overflow-y: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

@layer base {
    body {
        font-family: 'Playfair Display', serif;
        --mainBg: #2E2F34;
        --secondBg: #34353A;
        --mainColor: #D3AD63;
        --secondaryColor: #CFCDBD;
        --accentColor: #ffe590;
        --text_Color: #FFFCF5;

        @apply text-[#000000] bg-[#34353A] tracking-wide;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-700 rounded-xl
    }

}

/***************** Nav buttons hover *******************/
.nav-items li:hover {
    color: #ffe590;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


.nav-items2:hover {
    color: #5e6d96;


}

.nav-items2 li:hover {
    color: #5e6d96;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;

}

/***************** Main Page Styles *******************/
.main_img {
    filter: drop-shadow(4px 4px 8px #999999);
    filter: saturate(120%);

}

.main_text {
    font-size: 75px;
}

.block1_btn {
    margin-top: 15px;
}

.main_block1_btn {
    padding: 3px;
    width: 120px;
    font-size: 15px;
    border-width: 3px;
    border-color: var(--text_Color);
    background-color: transparent;
    color: var(--secondaryColor);
    border-radius: 1px;
    box-shadow: 0px 0px 8px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    margin-left: 80px;
}

.main_block1_btn2 {
    padding: 5px;
    width: 150px;
    font-size: 15px;
    border-width: 3px;
    border-color: var(--text_Color);
    background-color: transparent;
    color: var(--secondaryColor);
    border-radius: 1px;
    box-shadow: 0px 0px 8px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);

}

.css-input:focus {
    outline: none;
}



/***************** About Styles *******************/
.about-img {
    filter: drop-shadow(4px 4px 8px #999999);
    filter: saturate(150%);

}


/***************** Project Styles *******************/
.back-project-link {
    display: inline-block;
}

.project-header-title {
    margin-left: 65px;
}

.no-scroll-x {
    overflow-x: hidden;
}

.proj-btn:hover {
    color: white;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.footer-link:hover .tooltip {
    display: block;
    opacity: 1;
}

/* .tooltip {
    display: none;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #ffe590;
    z-index: 1;
    transition: opacity 0.9s ease-in-out;
} */

.footer-link:hover .tooltip2 {
    display: block;
    opacity: 1;
}

.tooltip2 {
    display: none;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: var(--mainColor);
    z-index: 1;
}


/* Assuming you have a CSS file linked to your Next.js project */

/* Hide the images for iPad and iPhone sized screens */
@media only screen and (max-width: 500px) {


    #block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }



    /* Cancel animation for main_block1 */
    .main_block1 {
        animation: none !important;
    }

    /* Cancel animation for main_block2 */
    .main_block2 {
        animation: none !important;
    }

    /* Cancel animation for main_block3 */
    .main_block3 {
        animation: none !important;
        display: none;
    }
}

/* Adjust layout for iPad and iPhone sized screens */
@media only screen and (max-width: 1024px) {

    /* Change flex direction to vertical */
    #block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }



    /* Cancel animation for main_block1 */
    .main_block1 {
        animation: none !important;
        transform: none !important;
    }

    .main_text {
        font-size: 100px;
    }

    .main_block1_btn {
        padding: 3px;
        width: 180px;
        font-size: 25px;
        margin-left: 200px;
    }

    /* .res_ipad {
        padding: 25px;
    }

    .footer-link .react-icons {

}

*/
    .block1_btn {
        padding-bottom: 200px;
    }

    /* Cancel animation for main_block2 */
    .main_block2 {
        animation: none !important;
    }

    /* Cancel animation for main_block3 */
    .main_block3 {
        animation: none !important;
        display: none;
    }
}