@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        font-family: 'Eczar', serif;
        --mainBg: var(#ffffff);
        --secondaryColor: var(#ffe590);
        --tertiaryColor: var(#5e6d96);
        --accentColor: var(#d5bcb7);

        @apply bg-[#d5bcb7] text-[#000000] tracking-wide;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl uppercase 
    }

}

/* Nav buttons hover */
.nav-items li:hover {
    color: #ffe590;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


.nav-items2:hover {
    color: #5e6d96;


}
.nav-items2 li:hover {
    color: #5e6d96;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
/* About Styles */
.about-img {
    filter: drop-shadow(4px 4px 8px #999999);
    filter: saturate(150%); 
}


/* Project Styles */
.back-project-link{
        display: inline-block;
}
.project-header-title{
    margin-left: 65px;
}
.no-scroll-x {
    overflow-x: hidden;
  }

.proj-btn:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}
