@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Eczar', serif;
        --mainBg: var(#d4d1cf);
        --secondaryColor: var(#3a6c62);
        --tertiaryColor: var(#100b0e);
        --accentColor: var(#015055);

        @apply bg-[#d4d1cf] text-[var(--mainBg)] tracking-wide;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r 
        from-[#015055] to-[#3a6c62]
    }


}

/* Nav buttons hover */
.nav-items li:hover {
    color: #015055;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.nav-items2:hover {
    color: #015055;

}

.about-img {
    filter: drop-shadow(4px 4px 8px #999999);
    filter: saturate(150%);
}